
{% block _condition_symptoms_row %}
    {{ form_label(form) }}
    <div class="group-symptoms js-symptom-body row"
         id="{{ form.vars.id }}"
         data-prototype="{{ block('_condition_symptom_item') | e }}">
        {% for prototype in form %}
            {{ block('_condition_symptom_item') }}
        {% endfor %}
    </div>
    {% if form.vars.errors|length %}
        <span class="error">{{ form_errors(form) }} </span>
    {% endif %}
{% endblock %}

{% block _condition_symptom_item %}
    <div class="d-table row">
        <div class="js-symptom-single-row d-row row" id="{{ prototype.vars.id }}">
            <div class="row">
                <div class="field">
                    {{ form_widget(prototype.name) }}
                    {% if prototype.name.vars.errors|length %}
                        <span class="error">{{ form_errors(prototype.name) }} </span>
                    {% endif %}
                </div>
                <div class="remove">
                    <a href="#" onclick="removeSymptom(this);return false;">
                        X
                    </a>
                </div>
            </div>
            <div class="stop"></div>
        </div>
    </div>
{% endblock %}