{% extends "MedicalGeneralBundle:Default:layout.html.twig" %}

{% block content %}
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }} Conditions
    </div>
    <table class="records_list">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
            <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}
            </th>
            <th{% if pagination.isSorted('c.symptoms.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Symptom', 'c.symptoms.name') }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for condition in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ condition.id }}</td>
                <td>{{ condition.name }}</td>
                <td>
                    <ul>
                        {% for symptom in condition.symptoms %}
                            <li>{{ symptom.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('condition') }}">Manage condition</a>
        &nbsp;&nbsp;&nbsp;
        <a href="{{ path('symptom') }}">Manage Symptom</a>
    {% endif %}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
